IOM Flag Definitions

Camp Management
CM_FLAG_1_Fields = ["__1_2_c_1__", "__2_1_a_1__"]
CM_FLAG_1_Values = ["2,3,4", ">100"]

CM_FLAG_2_Fields
CM_FLAG_2_Values

CM_FLAG_3_Fields
CM_FLAG_3_Values

CM_FLAG_5_Fields
CM_FLAG_5_Values

SHELTER_FLAG_1
SHELTER_FLAG_2
SHELTER_FLAG_3
SHELTER_FLAG_4

WASH_FLAG_1
WASH_FLAG_2
WASH_FLAG_3
WASH_FLAG_4
WASH_FLAG_5

HEALTH_FLAG

PROTECTION_FLAG_1
PROTECTION_FLAG_2